.flex-row-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start; /* Align items at the top */
margin: 15px;
}

.main-container {
display: flex;
flex-direction: column;
justify-content: flex-start; /* Align content at the top */
align-items: center;
width: calc(33.33% - 25px);
height: auto;
}

.container {
display: flex;
flex-direction: column;
justify-content: flex-start; /* Align content at the top */
align-items: flex-start;
width: 100%;
/* background-color: #f8f9fa; */
margin: 15px 0 0 0;
}

#date-time {
    padding: 15px;
    padding-left: 50px;
}

#date-time h1 {
    font-weight: 800;
    margin-bottom: 10px;
    text-align: left;
}

#date-time span {
    display: flex;
    align-items: center;
}

#date-time img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#weather-box {
    /* background-color: #629d55; */
    border-radius: 35px;
    color: #f8f9fa;
    width: 70%;
    margin-left: -140px;
    margin-top: -5px;
}

#weather-box p {
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
}

.container h2 {
    font-weight: 700;
    margin: 20px 0 0 0;
    text-align: left;
    padding-left: 50px;
}

#select-field {
    padding: 10px 20px 35px 20px;
    border: #1e553b 1px solid;
    margin-bottom: 250px;
}

#select-field select {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #070;
    margin: 15px 0 15px 0;
    align-self: center;
    padding-left: 5px;
}

#select-field button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    align-self: center;
    margin: 15px 0 5px 0;
    padding: 5px;
}

.field-form, .log-form {
    margin: 0 0 25px auto;
}

.field-form h2, .log-form h2 {
    font-size: 15px;
    padding: 0 5px 15px 10px;
    text-align: center;
}

.field-form form {
    margin: 0;
}

.field-form form input {
    border: none;
    border-bottom: #1e553b 1px solid;
    width: 35%;
    padding: 10px;
    font-size: 12px;
    margin: 10px 0 0 25px;
    align-self: center;
}

.field-form form button, #add-field {
    border: none;
    padding: 10px 20px;
    color: #f8f9fa;
    transition: all 0.3s;
}

.field-form form button:hover, #add-field:hover {
    cursor: pointer;
}

#options {
    height: fit-content;
    padding: 10px 20px;
    margin-top: 200px;
}
.market-insights p {
    text-align: left;
    margin-top: 15px;
    padding-left: 50px;
}

#city {
    font-size: 1em;
    margin-top: -5px;
    color: #629d55;
}

#deg {
    font-size: 1em;
}

#temp {
    font-size: 2.5em;
    font-weight: 700;
}

#w-icon {
    width: 120px;
    height: 120px;
    margin-top: -6px;
}

.w-info {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 15px;
    background-color:#e0eedc;
    padding-right: 15px;
    border-radius: 25px 25px 5px 5px;
    margin-left: 35px;
}

.w-info div {
    margin: 15px 0;
    color: #629d55;
}

#weather-box-two {
    margin-top: 5px;
}

.w-info2 {
    display: flex;
    justify-content: space-between;
    background-color: #e0eedc;
    margin-left: 34px;
    padding: 0 26.5px;
    border-radius: 5px 5px 25px 25px;
}

.w-info2 p {
    font-size: 15px;
    padding-top: 15px;
}

#w-keys {
    font-size: 10px;
    color: #629d55;
    text-align: center;
    margin-left: 80px;
    padding-top: 10px;
}

#field-log {
    padding-bottom: 25px;
    /* background-color: #f8f9fa; */
}

#field-log div {
    margin-top: 15px;
    text-align: left;
    margin-left: 25px;
}

#stud {
    padding-left: 25px;
}

.log-form form input {
    border: none;
    border-bottom: #1e553b 1px solid;
    width: 75%;
    padding: 10px;
    font-size: 12px;
    margin: 10px 50px 15px 0;
    align-self: center;
}

.log-form form textarea {
    border: none;
    border-bottom: #1e553b 1px solid;
    width: 75%;
    padding: 10px;
    font-size: 12px;
    margin: 10px 50px 15px 0;
    align-self: center;
    height: fit-content;
}

.log-item {
    justify-content: space-between;
    background-color: #e0eedc;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;    
}

.log-item h3 {
    font-size: 20px;
    align-self: center;
}

.log-item p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -4px;
}

#logDate {
    font-size: 10px;
    text-align: right;
}

#add-log {
    width: 50px;
    margin-left: 60px;
    padding: 2px;
}

.insight-item {
    margin-bottom: 25px;
}

.insight-item p {
    margin-bottom: -15px;
}

.insight-item span {
    font-weight: 700;
    display: flex;
}

#market {
    background-color: #fff;
}

#field-details {
    margin-top: -230px;
    padding-bottom: 20px;
    background-color: #f8f9fa;
}

.f-propty {
    display: flex;
}

.f-propty div {
text-align: left;
}

#field-details h2 {
    font-weight: 700;
    padding-left: 20px;
    padding-bottom: 10px;
}

#field-details p {
    padding-left: 20px;
    margin-bottom: 2px;
}

#field-details p span {
    font-weight: 700;
}

.demand-low {
color: rgb(197, 62, 62);
}

.demand-medium {
color: rgb(205, 205, 83);
}

.demand-high {
color: #629d55;
}

.supply-low {
    color: rgb(197, 62, 62);
}

.supply-medium {
color: rgb(205, 205, 83);
}

.supply-high {
    color: #629d55;
}