/********** Template CSS **********/
:root {
    --primary: #8c9fd8;
    --secondary: #F6F6F6;
    --light: #FFFFFF;
    --dark: #ffffff;
}

.navbar{
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 97%);
}

.m-0{
    color: rgb(0, 0, 0);
}

.nav-item{
    color: rgb(0, 0, 0);
    padding: 10px;
    display: block;
    margin: 10px;
    text-decoration: solid;
    font-size: large;
}

.nav-item:hover{
    color: rgb(137, 152, 255);
    padding: 10px;
    display: block;
    margin: 10px;
}

.welcome{
    color: rgb(70, 218, 146);
}

mb-4{
    color: black;
}

.container-fluid{
    background-color: #ffffff;

}

.h-100{
    background: rgb(100, 225, 141);
    background: linear-gradient(90deg, rgb(59, 192, 101) 0%, rgb(31, 160, 93) 0%, rgb(17, 182, 116) 100%);
}

.row {
    width:100%;
   
    text-align: justify;
}
/*All images*/
img{
    object-fit: cover;
}

/*d-flex is the container of the images and text*/
.d-flex{
    padding: 10px;
}

.position-absolute{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/*End of Images*/

.position-relative{
     width: 600px;
     background-color: black;
}

.heading-1{
    background-color: #198754;;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
}

.home-images{
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    
}

.cards{
    float: left;
    width: 200px;
    margin: 10px;
    padding-bottom: 10px ;
    background-color: rgb(255, 255, 255);
    padding: auto;
}


.home-images img{
    width: 100%;
    height: 150px;
    margin: 20px;
    border-radius: 3px;
    object-fit: cover;
}

#image-paragraph{
    width: auto;
    margin: 20px;
    color: #000000;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#image-paragraph_H5{
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    color: #000000;
    margin: 20px;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.btn {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color:  #2115ac;
}

.btn-square {
    width: 360px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.top-shape::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 100%;
    top: 0;
    left: -17px;
    background: var(--primary);
    transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Barlow', sans-serif;
    padding: 35px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
    
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 255, 110, 0.7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.service-item {
    position: relative;
    overflow: hidden;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    bottom: -50px;
    left: 0;
    background: var(--light);
    border-radius: 100% 100% 0 0;
    box-shadow: 0px -10px 5px #EEEEEE;
    transition: .5s;
}

.service-item:hover::after {
    bottom: -25px;
}

.service-item p {
    transition: .3s;
}

.service-item:hover p {
    margin-bottom: 25px !important;
}

.team-item img {
    transform: scale(1.15);
    margin-left: -30px;
    transition: .5s;
}

.team-item:hover img {
    margin-left: 0;
}

.team-item .team-text {
    left: -100%;
    transition: .5s;
}

.team-item .team-text::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    right: -60px;
    margin-top: -30px;
    border: 30px solid;
    border-color: transparent transparent transparent var(--primary);
}

.team-item:hover .team-text {
    left: 0;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.testimonial-carousel .owl-item img {
    width: 90px;
    height: 90px;
}

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.1);
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto;
}

.login-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #222ce1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3975e6;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.social-login {
    margin-top: 20px;
}

.social-login p {
    margin-bottom: 10px;
    color: #333333;
}

.social-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.facebook {
    background-color: #3b5998;
}

.facebook:hover {
    background-color: #344e86;
}

.twitter {
    background-color: #1DA1F2;
}

.twitter:hover {
    background-color: #1a91da;
}

.gmail {
    background-color: #DB4437;
}

.gmail:hover {
    background-color: #c33c2e;
}